/* Layout */
body {
	min-width: 630px;
}

#container {
	padding-left: 200px;
	padding-right: 190px;
}

#container .column {
	position: relative;
	float: left;
}

#center {
	padding: 10px 20px;
	width: 100%;
}

#left {
	width: 180px;
	padding: 0 10px;
	right: 240px;
	margin-left: -100%;
}

#right {
	width: 130px;
	padding: 0 10px;
	margin-right: -100%;
}

#footer {
	clear: both;
}

/* IE hack */
* html #left {
	left: 150px;
}

/* Make the columns the same height as each other */
#container {
	overflow: hidden;
}

#container .column {
	padding-bottom: 1001em;
	margin-bottom: -1000em;
}

/* Fix for the footer */
* html body {
	overflow: hidden;
}

* html #footer-wrapper {
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	background: #fff;
}

/* Aesthetics */
body {
	margin: 0;
	padding: 0;
	font-family:Sans-serif;
	line-height: 1.5em;
}

p {
	color: #ccc;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul a {
	color: #ccc;
	text-decoration: none;
}

#header, #footer {
	font-size: large;
	padding: 0.3em;
	background: #3C47DD;
}

#left {
	background: #5861E1;
}

#right {
	background: #3C47DD;
}

#center {
	background: #fff;
}

#container .column {
	padding-top: 1em;
}

a.button {
	background-color: #778899;
	border: 1px solid black;
	color: white;
	padding: 2px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;

}

a.button:hover {
	background-color: #87CEFA; /*#3e8e41*/
}

/*table,tr, td {
   border: 1px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2}
*/
table {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #3A3A3A;
	border-collapse: collapse;
}

th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: solid black;
	background-color: #B2CFD8;
}

tr:nth-child(even) td{
	background-color: #f2f2f2;
}

tr:hover td {
	background-color: #DFEBF1;
}

td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: solid black;
	background-color: #ffffff;
}
