<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Database Project</title>
	<link rel = "stylesheet" type ="text/css" href = 'css/layout.css'>
</head>

<body>

	<header id="header"><p>Welcome to our database project</p></header>

	<div id="container">

		<main id="center" class="column">
			<article>

				<h1>Heading</h1>


			</article>
		</main>

		<nav id="left" class="column">
			<h3>Simple search into database</h3>
			<ul>
				<li><a href="/queryPage?category=author">Query Author</a></li>
				<li><a href="queryPage?category=publication">Query Publication</a></li>
				<li><a href="#">Link to query</a></li>
				<li><a href="#">Link to query</a></li>
				<li><a href="#">Link to query</a></li>
			</ul>
			<h3>Simple queries</h3>
			<ul>
				<li><a href="#">Link to query</a></li>
				<li><a href="#">Link to query</a></li>
				<li><a href="#">Link to query</a></li>
				<li><a href="#">Link to query</a></li>
				<li><a href="#">Link to query</a></li>
			</ul>

		</nav>

	</div>

	<div id="footer-wrapper">
		<footer id="footer"><p>Introduction to database systems - Jiande Zhou, Joe Mengjie Zhao, Yvan Chevalley - Project </p></footer>
	</div>

</body>

</html>
