<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Database Project</title>
  <link rel = "stylesheet" type ="text/css" href = '/css/layout.css'>
</head>

<body>

  <header id="header"><p>Welcome to our database project</p>
  <a href="/" class="button">Back to home page</a>
  </header>

  <div id="container">

    <main id="center" class="column">
      <article>

        <h1>Results:</h1>
            Contents inserted successfully!
        </div>
      </article>
    </main>

    <nav id="left" class="column">
      <h3>Simple search into database</h3>
      <ul>
        <li><a href="/queryPage?category=author">Query Author</a></li>
				<li><a href="/queryPage?category=publication">Query Publication</a></li>
				<li><a href="/queryPage?category=title">Query Title</a></li>
				<li><a href="/queryPage?category=publisher">Query Publisher</a></li>
				<li><a href="/queryPage?category=awards">Query Awards</a></li>
				<li><a href="/queryPage?category=tags">Query Tags</a></li>
				<li><a href="/queryPage?category=language">Query Languages</a></li>
				<li><a href="/queryPage?category=webpage">Query Webpages</a></li>
				<li><a href="/queryPage?category=note">Query Note</a></li>
      </ul>
      <h3>Simple queries</h3>
      <ul>
        <li><a href="/simpleA">Query (A)</a></li>
        <li><a href="/simpleB">Query (B)</a></li>
        <li><a href="/simpleC">Query (C)</a></li>
        <li><a href="#">Link to query</a></li>
        <li><a href="#">Link to query</a></li>
      </ul>
      <h3>Deletion queries</h3>
      <ul>
        <li><a href="/deletionPage?category=author"> Delete Author</a></li>
        <li><a href="/deletionPage?category=publication">Delete Publication</a></li>
        <li><a href="/deletionPage?category=title">Delete Title</a></li>
        <li><a href="/deletionPage?category=publisher">Delete Publisher</a></li>
        <li><a href="/deletionPage?category=awards">Delete Awards</a></li>
        <li><a href="/deletionPage?category=tags">Delete Tags</a></li>
        <li><a href="/deletionPage?category=language">Delete Languages</a></li>
        <li><a href="/deletionPage?category=webpage">Delete Webpages</a></li>
        <li><a href="/deletionPage?category=note">Delete Note</a></li>
      </ul>
      <h3>Insertion queries</h3>
      <ul>
        <li><a href="/insertionPage?category=author"> Insert Author</a></li>
        <li><a href="/insertionPage?category=publication">Insert Publication</a></li>
        <li><a href="/insertionPage?category=title">Insert Title</a></li>
        <li><a href="/insertionPage?category=publisher">Insert Publisher</a></li>
        <li><a href="/insertionPage?category=awards">Insert Awards</a></li>
        <li><a href="/insertionPage?category=tags">Insert Tags</a></li>
        <li><a href="/insertionPage?category=language">Insert Languages</a></li>
        <li><a href="/insertionPage?category=webpage">Insert Webpages</a></li>
        <li><a href="/insertionPage?category=note">Insert Note</a></li>
      </ul>

    </nav>

  </div>

  <div id="footer-wrapper">
    <footer id="footer"><p>Introduction to database systems - Jiande Zhou, Joe Mengjie Zhao, Yvan Chevalley - Project </p></footer>
  </div>

</body>

</html>
