<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Database Project</title>
  <link rel = "stylesheet" type ="text/css" href = 'css/layout.css'>
</head>

<body>

  <header id="header"><p>Welcome to our database project</p></header>

  <div id="container">

          <main id="center" class="column">
            <article>
              <h1>Please input queries' keywards:</h1>
              <div id='box'></div>
              <script id="entries" type="text/json">{{{entries}}}</script>
              <script type="text/javascript">
                var entries = JSON.parse(document.getElementById('entries').innerHTML)
                // console.log('entries: ')
                // console.log(entries)
                var box = document.getElementById('box')
                var form = document.createElement('form');
                form.action = 'query'
                form.method = 'get'
                Object.keys(entries).forEach(function(key){
                  var text = document.createTextNode(key + ': ');
                  var input = document.createElement('input');
                  input.name = key
                  input.type = 'text';

                  form.appendChild(text);
                  form.appendChild(input);
                  form.appendChild(document.createElement('br'))
                });
                var submit = document.createElement('input')
                submit.type = 'submit'
                submit.value = 'Submit'
                form.appendChild(submit)
                box.appendChild(form);
              </script>
            </article>
          </main>




          <nav id="left" class="column">
            <h3>Searching functionality</h3>
            <ul>
              <li><a href="/searchPage?category=searchAuthor">Start searching function (On author)</a></li>
            </ul>
            <h3>Simple query into database</h3>
            <ul>
              <li><a href="/queryPage?category=author">Query Author</a></li>
      				<li><a href="/queryPage?category=publication">Query Publication</a></li>
      				<li><a href="/queryPage?category=title">Query Title</a></li>
      				<li><a href="/queryPage?category=publisher">Query Publisher</a></li>
      				<li><a href="/queryPage?category=awards">Query Awards</a></li>
      				<li><a href="/queryPage?category=tags">Query Tags</a></li>
      				<li><a href="/queryPage?category=language">Query Languages</a></li>
      				<li><a href="/queryPage?category=webpage">Query Webpages</a></li>
      				<li><a href="/queryPage?category=note">Query Note</a></li>
            </ul>



            <h3>Simple queries</h3>
            <ul>
              <li><a href="/simplePage?category=a">First simple query</a></li>
              <li><a href="/simpleB">Query (B)</a></li>
              <li><a href="/simpleC">Query (C)</a></li>
              <li><a href="#">Link to query</a></li>
              <li><a href="#">Link to query</a></li>
            </ul>

            <h3>Deletion queries</h3>
      			<ul>
      				<li><a href="/deletionPage?category=author"> Delete Author</a></li>
      				<li><a href="/deletionPage?category=publication">Delete Publication</a></li>
      				<li><a href="/deletionPage?category=title">Delete Title</a></li>
      				<li><a href="/deletionPage?category=publisher">Delete Publisher</a></li>
      				<li><a href="/deletionPage?category=awards">Delete Awards</a></li>
      				<li><a href="/deletionPage?category=tags">Delete Tags</a></li>
      				<li><a href="/deletionPage?category=language">Delete Languages</a></li>
      				<li><a href="/deletionPage?category=webpage">Delete Webpages</a></li>
      				<li><a href="/deletionPage?category=note">Delete Note</a></li>
      			</ul>
            <h3>Insertion queries</h3>
            <ul>
              <li><a href="/insertionPage?category=author"> Insert Author</a></li>
              <li><a href="/insertionPage?category=publication">Insert Publication</a></li>
              <li><a href="/insertionPage?category=title">Insert Title</a></li>
              <li><a href="/insertionPage?category=publisher">Insert Publisher</a></li>
              <li><a href="/insertionPage?category=awards">Insert Awards</a></li>
              <li><a href="/insertionPage?category=tags">Insert Tags</a></li>
              <li><a href="/insertionPage?category=language">Insert Languages</a></li>
              <li><a href="/insertionPage?category=webpage">Insert Webpages</a></li>
              <li><a href="/insertionPage?category=note">Insert Note</a></li>
            </ul>

          </nav>

  </div>

  <div id="footer-wrapper">
    <footer id="footer"><p>Introduction to database systems - Jiande Zhou, Mengjie Zhao, Yvan Chevalley - Project </p></footer>
  </div>

</body>

</html>
